language: php

php:
  - 7.0
  - 7.1
  
install:
  - composer self-update
  - composer install

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

# Old coverage reporter
#after_success:
#  - vendor/bin/test-reporter
